{% extends "layout/layout.html" %}

{% block content %}
        {% for movie in movies %}
            <div class="jumbotron mt-4">
                <h1 class="display-6">{{  movie['titel']  }}</h1>
                <hr class="my-4">
                <div class="row" class="mt-5">
                    <div class="col-md-4">
                        <img src={{ movie['cover'] }}>
                    </div>
                    <div class="col-md-6">
                        <p class="synopsis">{{  movie['synopsis'] }}</p>
                    </div>
                </div>
                <hr class="my-4">
                <div class="row">
                    <div class="col-3">
                        <h4 class="display-8">{{ movie['zender'] }}</h4>
                    </div>
                    <div class="col-7">
                        {{ movie['starttijd'] }} / {{ movie['eindtijd'] }}
                    </div>
                    <div class="col-2">

                    </div>
                </div>
            </div>
        {%  endfor %}
        {% if active_user == 1 %}
            asd
            {{  reservations }}
        {%  endif %}

{% endblock %}


>