{% extends "layout/layout.html" %}

{% block content %}
    <div class="row mt-4">
        {% for ticket in tickets %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ ticket['titel'] }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ ticket['starttijd'] }} <br> tot <br> {{ ticket['eindtijd'] }}</h6>
                        <p class="card-text">{{ ticket['ticket_code'] }}</p>
                        <a href="/user_tickets/{{ ticket['ticket_code'] }}" class="card-link">Bekijk ticket</a>
                    </div>
                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}


